
.cover{
    background: linear-gradient(130deg, #ffffff 60%, rgb(238, 18, 139));
    width: 100%;
    height: 100vh;
    position: fixed;
   
}

.heading {
    align-items: center;
    margin-top: 15rem;
    
}

.heading h1 {
    
    /* margin-bottom: 3rem; */
    font-size: 80px;
}

.heading p{
    margin-bottom: 3rem;
    font-size: 25px;
}
.heading .btn-main{
    padding: 1.5rem;
    font-size: 18px;
    border: 1px solid #f70ed8;
    border-radius: 1rem;
    
    text-decoration: none;
    
}
.heading .btn-main:hover{
    cursor: pointer;
    background-color: rgb(238, 18, 139) ;
    color: white;
}